<div class='container'>
  <h1>Stupid Coaching</h1>
</div>
<div class= 'container'>
  <p><%= params[:question] %></p>
  <p>You</p>
</div>
<div class= 'container'>
  <p><%= @answer %></p>
  <p>Your coach</p>
</div>

<div class= 'container'>
  <%= link_to "Ask a new question", ask_path %>
</div>
